<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center m-5">
    <div class="col-md-9 col-lg-6 col-xl-5 text-center">
      <div><i style="font-size: 20em" class="fa-solid fa-user"></i></div>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-7">
      <form style="width: fit-content" [formGroup]="this.forgotPassword">
        <div
          class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
        >
          <p class="lead fw-normal mb-5 me-3">Send email</p>
        </div>

        <!-- email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="login">Email</label>
          <input
            type="text"
            id="email"
            class="form-control form-control-lg"
            placeholder="Enter an email"
            name="email"
            formControlName="email"
            [class.is-invalid] ="CampoNoValido('email')"
            [class.is-valid] ="!CampoNoValido('email') && touched('email')"
          />
        </div>

        <div *ngIf="this.found" class="alert alert-success" role="alert">
          The email has been sent!
        </div>

        <div *ngIf="this.found === false" class="alert alert-danger" role="alert">Email not foud!</div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem"
            (click)="this.sendEmail()"
          >
            Enviar email
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
